<!--                                            TITULO                                            -->
<div id="MainTittle">
  <h1>
    SECCIÓN DE REPORTES
  </h1>

  <dfn> En esta sección, usted podrá descargar y/o visualizar
    el reporte generado por el sistema
  </dfn>
</div>




<!--                                            INICIO DE LA LISTA DE MODULOS                                            -->
<div id="content" #content class="content">

  <header>
    <div id="descripcion">


      <img class="imagen" src="../../../assets/images/header.png" alt="">

      <p id="p1">
        Documento generado por el sistema.
      </p>
      <p id="p2">En el encontrará el informe que indica el progreso de las actividades docentes.</p>


    </div>
  </header>








  <!--                                            LISTA DE REPORTE DE ACTIVIDADES                                              -->




  <div class="card-body table-responsive">

    <table class="table table-bordered table-hover table-striped " style="border-color:black;">

      <thead>
        <tr>

          <div>
            <th class="C-Enunciado">Actividades Y Sugerencias</th>
            <th class="C-Modulo">Modulo de la actividad</th>
            <th class="C-Progreso">Progreso % </th>
          </div>



        </tr>

      </thead>

      <tbody>
        <tr>
          <div *ngFor="let pregunta of preguntas">
            <div *ngFor="let actividad of actividades">
              <div *ngIf="pregunta.id == actividad.fk_id_pregunta">



                <td>
                  {{pregunta.enunciado}}
                </td>

                <td>
                  <div *ngFor=" let modulo of modulos">
                    <div *ngIf="modulo.id == actividad.fk_id_modulo">
                      {{modulo.nombre}}
                    </div>
                  </div>
                </td>


                <td>
                  <div class="container-fluid">
                    <br>
                    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="40"
                      aria-valuemin="0" aria-valuemax="100" [style.width]="porcentaje">
                      {{porcentaje}}
                    </div>

                  </div>
                </td>


              </div>
            </div>
          </div>
        </tr>
      </tbody>
    </table>

  </div>









  <footer>
    <img src="../../../assets/images/footer.png">
  </footer>

</div>

<button class="btn btn-secondary" class="button" (click)="imprimir()">descargar PDF</button>